Repository EnthuZiastic/mix_unused, changes with the labels that .github/labeler.yml gives for each.
All labels: scope/tasks, scope/ci, scope/test, scope/test/fixtures

.github/labeler.yml:

scope/tasks:
  - any: ['lib/mix/tasks/*']

scope/ci:
  - any: ['.github/workflows/*']

scope/test:
  - any: ['test/**/*', '!test/fixtures/**/*']

scope/test/fixtures:
  - any: ['test/fixtures/**/*']

fix: resolve Credo strict mode issues
  lib/mix/tasks/compile.unused.ex
  lib/mix_unused/tracer.ex
  mix.exs
  mix.lock
  test/mix/tasks/compile.unused_test.exs
  test/mix_unused/tracer_test.exs
Labels: scope/tasks, scope/test

chore: upgrade mix libs
  mix.lock
Labels: none

fix: resolve Elixir 1.18 deprecation warnings
  lib/mix_unused/filter.ex
  test/mix_unused/tracer_test.exs
  test/support/case.ex
Labels: scope/test

ft: add smart heuristics to reduce false positives
  claudedocs/FALSE_POSITIVES_ANALYSIS.md
  claudedocs/IMPROVEMENTS_SUMMARY.md
  lib/mix_unused/analyzers/unused.ex
  lib/mix_unused/heuristics.ex
  test/mix_unused/heuristics_test.exs
Labels: scope/test

ft: add dynamic dispatch detection and warnings
  .gitignore
  README.md
  claudedocs/IMPROVEMENTS_SUMMARY.md
  claudedocs/PHASE2_IMPLEMENTATION.md
  lib/mix/tasks/compile.unused.ex
  lib/mix_unused/dynamic_calls.ex
  test/mix_unused/dynamic_calls_test.exs
Labels: scope/tasks, scope/test

chore: fix Credo strict mode issues
  lib/mix_unused/dynamic_calls.ex
  lib/mix_unused/heuristics.ex
  test/mix_unused/dynamic_calls_test.exs
  test/mix_unused/heuristics_test.exs
Labels: scope/test

chore: format
  test/mix_unused/heuristics_test.exs
Labels: scope/test

fix: exclude __struct__ from Ecto callbacks to fix test
  lib/mix_unused/heuristics.ex
Labels: none

ft: add interactive HTML report generation for unused function analysis
  README.md
  lib/mix/tasks/compile.unused.ex
  lib/mix_unused/config.ex
  lib/mix_unused/report/data_builder.ex
  lib/mix_unused/report/generator.ex
  lib/mix_unused/report/html_template.ex
  lib/mix_unused/report/stats.ex
  lib/mix_unused/report/tree_builder.ex
  mix.exs
Labels: scope/tasks

ft: enhance HTML report UI with compact layout and improved UX
  lib/mix_unused/report/html_template.ex
Labels: none

fix: apply analyzer filter to displayed issues in HTML report
  lib/mix_unused/report/html_template.ex
Labels: none

ft: add distinct colors for analyzer badges in HTML report
  lib/mix_unused/report/html_template.ex
Labels: none

ft: improve severity badge colors with better contrast and distinction
  lib/mix_unused/report/html_template.ex
Labels: none

docs: update readme and make function names look like links
  README.md
  lib/mix_unused/report/html_template.ex
Labels: none

ft: be able to open the file in editor
  lib/mix_unused/report/data_builder.ex
  lib/mix_unused/report/generator.ex
  lib/mix_unused/report/html_template.ex
Labels: none
